@charset "utf-8";

.keyvisual {
	position: ;	
	width: 800px;
}
.photo {
	font-size: ;
}
.copy {
	position: ;
	left: ;
	bottom: ;
	width: 100%;
	background: #353441;
	opacity: 0.8;
	text-align: center;
}
.copy a {
	text-decoration: none;
	color: #fff;
}
.copy a:hover {
	text-decoration: none;
	color: #ccc;
}
.copy p {
	padding: 20px 40px;
	font-size: 18px;
}