@charset "UTF-8";

.rank {
	margin: 0;
	padding: 0;

}

.rank li {
	padding: 5px 0 20px 55px;
	list-style: none;

}

.rank li:nth-child(1) {
	list-style: url(../images/crown1.png) inside;
}

.rank li:nth-child(2) {
	list-style: url(../images/crown2.png) inside;

}

.rank li:nth-child(3) {
	list-style: url(../images/crown3.png) inside;

}