body {
   background-color: #FFFFFF;
   color: #2e8b57;
   font-size: 2em;
   font-family: fantasy;
}

h1 {
   background-color: #2e8b57;
   color: #FFFFF0;
   font-size: 2em;
   font-family: fantasy;
}