@charset "utf-8";

html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url(../images/bg.png);
  font-family: sans-serif;
  font-size: 16px;
}
/* ヘッダー */
header {
  background: #000000;
}
.header-container {
  padding: 30px 20px 10px 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.header-logo {
  margin: 0;
  width: 200px;
  height: 44px;
  background: url(../images/logo.png) no-repeat;
  background-size: 200px 44px;
  text-indent: -9999px;
}
/* ナビゲーション */
nav {
  background: #000000;
}
.nav-container {
  padding: 0 20px 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.globalnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.globalnav li {
  float: left;
  width: 20%;
}
.globalnav li a {
  display: block;
  padding: 10px 0;
  border-bottom: 8px solid #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  color: #ffffff;
}
.globalnav li a:hover,
.globalnav li a.current {
  border-bottom: 8px solid #7bae34;
  color: #7bae34;
}
/* フッター */
footer {
}
.footer-container {
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background: #000000;
  max-width: 1000px;
  margin: 0 auto;
}
.copyright {
  margin: 0;
  font-size: 0.8rem;
  color: #ffffff;
}
/* メインコンテンツレイアウト部分 */
main {
}
.main-container {
  overflow: hidden;
  padding: 0 0 40px 0;
  background: #ffffff;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.wrapper-columun12 {
  margin-right: -200px;
  width: 100%;
}
.column3 {
  margin-right: 20px;
  padding: 30px 0 30px 0;
  width: 180px;
}
.wrapper-columun12-container {
  overflow: hidden;
  margin-right: 200px;
}
.column1 {
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px 0 30px 0;
  flex: 0 0 240px;
}
.column2 {
  margin-right: 20px;
  padding: 30px 0 30px 0;
  width: 100%;
  flex: 1 1 auto;
}

/* 1コラム目 */
.column1 h1 {
  margin: 0 0 20px 0;
  font-size: 2rem;
  color: #7bae34;
}
.subnav {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px dashed #dadada;
}
.subnav li {
  padding: 20px;
  border-bottom: 1px dashed #dadada;
}
.subnav li a {
  text-decoration: none;
  color: #000000;
}
.subnav li a:hover,
.subnav li a.current {
  color: #7bae34;
}
/* 2コラム目 */
.news h2 {
  margin: 0 0 20px 0;
  font-size: 1.2rem;
}
.news-contents {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news-contents li {
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #dadada;
}
.news-contents li img {
  margin-right: 10px;
  float: left;
}
.news-contents li p {
  margin: 0;
}
/* 3コラム目 */
.column3 {
  flex: 0 0 180px;
}
.map h2 {
  margin: 0;
  padding: 10px;
  background-color: #7bae34;
  border-radius: 10px 10px 0 0;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
}
.map-image {
  margin: 0 0 20px 0;
  font-size: 0;
}
.map-image img {
  border-radius: 0 0 10px 10px;
  width: 100%;
}
.map p {
  margin: 0;
  font-size: 0.9rem;
}
.campaign {
  position: sticky;
  bottom: 0;
  margin-top: 10px;
  padding: 30px;
  width: 100%;
  background-color: #7bae34;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.6);
}
.campaign p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.campaign-btn {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 5px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  color: #7bae34;
}
