body{
   background-color: #000000;
   color: #FFFFFF;
   font-size: 2em;
   font-family: fantasy;
   background-image: url(title.jpg); 
   background-repeat: repeat-x;
}
h1{
   color: #FFFFFF;
   font-size: 4em;
   font-family: fantasy;
}
